{% extends "layout.njk" %}

{% block content %}

<div id="wrapper">

  <img src="https://avatars2.githubusercontent.com/u/54541316?s=460&v=4" alt="imagem">
  <h1>Tiago Beidaki Landim</h1>
  <h2>Desenvolvedor Web</h2>
  <p>
    Aluno da Rocketseat no curso LaunchBase2.0 -- Tecnologias: HTML5, CSS, JS, NunJucks, SQL <br/>
  </p>

</div>


<div id="Social" class="links">

  <a href="https://github.com/TortoiseTiago" target="_blank">Github</a>
  <a href="https://twitter.com/login?lang=pt" target="_blank">Twitter</a>
  <a href="https://www.linkedin.com/uas/login?_l=pt" target="_blank">Linkedin</a>

</div>


{% endblock %}
