<!DOCTYPE html>
<html>
  <head>
    <title>Tiago Landim</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

  </head>

  <body>
    <header>
      <div class="links">
        <a href="/">Sobre</a>
        <a href="/portifolio">Aulas</a>
      </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
      <p id="copyright">Created by
        <a href="https://github.com/TortoiseTiago" target="_blank">Tiago Landim
        </a>nas aulas da Rocketseat</p>
    </footer>

  </body>
</html>